<!doctype html>
<html class="no-js">
<head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Title and description ================================================== -->
    <title>
        basic
    </title>
    <!-- Helpers ================================================== -->
    <!-- /snippets/social-meta-tags.liquid -->


    <meta property="og:type" content="website">
    <meta property="og:title" content="basic">

    <meta property="og:image" content="../hstatic.net/033/1000104033/1000147703/logo8f26.png?v=55">
    <meta property="og:image:secure_url" content="../hstatic.net/033/1000104033/1000147703/logo8f26.png?v=55">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="basic">
    <meta name="twitter:card" content="summary">


    <link rel="canonical" href="index.html">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#141414">
    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600,700,500' rel='stylesheet' type='text/css'>
    <!-- CSS ================================================== -->
    <link href='/hstatic.net/033/1000104033/1000147703/bootstrap.min8f26.css?v=55' rel='stylesheet' type='text/css' media='all' />
    <link href="/Areas/Client/css/jquery-ui.css" rel="stylesheet" />

    <link href='/hstatic.net/033/1000104033/1000147703/font-awesome8f26.css?v=55' rel='stylesheet' type='text/css' media='all' />
    <link href='/hstatic.net/033/1000104033/1000147703/elements8f26.css?v=55' rel='stylesheet' type='text/css' media='all' />
    <link href='/hstatic.net/033/1000104033/1000147703/timber.scss8f26.css?v=55' rel='stylesheet' type='text/css' media='all' />
    <link href='/hstatic.net/033/1000104033/1000147703/style.scss8f26.css?v=55' rel='stylesheet' type='text/css' media='all' />
    <link href='/hstatic.net/033/1000104033/1000147703/owl.carousel8f26.css?v=55' rel='stylesheet' type='text/css' media='all' />
    <link href='/hstatic.net/033/1000104033/1000147703/owl.theme8f26.css?v=55' rel='stylesheet' type='text/css' media='all' />
    <link href='/hstatic.net/033/1000104033/1000147703/owl.transitions8f26.css?v=55' rel='stylesheet' type='text/css' media='all' />
    <link href='/hstatic.net/033/1000104033/1000147703/animate8f26.css?v=55' rel='stylesheet' type='text/css' media='all' />
    <link href='/hstatic.net/033/1000104033/1000147703/linearicons8f26.css?v=55' rel='stylesheet' type='text/css' media='all' />

    <!-- Header hook for plugins ================================================== -->
    <script type='text/javascript'>
        //<![CDATA[
        if ((typeof Haravan) === 'undefined') {
            Haravan = {};
        }
        Haravan.culture = 'vi-VN';
        Haravan.shop = 'basic.myharavan.com';
        Haravan.theme = { "name": "Basic", "id": 1000147703, "role": "main" };
        Haravan.domain = 'basic.myharavan.com';
        //]]>
    </script>


    <script src='/ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' type='text/javascript'></script>
    <script src="/Areas/Client/js/jquery-1.11.3.min.js"></script>
    <script src="/Areas/Client/js/jquery-ui.js"></script>

    <script src='/hstatic.net/0/0/global/api.jquery.js' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/modernizr.min8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/bootstrap-custom8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/plugins.min8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/0/0/global/option_selection.js' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/jquery.jcarousellite8f26.js?v=55' type='text/javascript'></script>
</head>
<body id="basic" class="template-index">
    <div id="CartDrawer" class="drawer drawer--right">
        <div class="overlay"></div>
        <div class="drawer--popup-container">
            <div class="drawer__header">
                <div class="drawer__title h3">Giỏ hàng</div>
                <div class="drawer__close js-drawer-close">
                    <button type="button" class="icon-fallback-text">
                        <span class="icon icon-x" aria-hidden="true"></span>
                        <span class="fallback-text">"Đóng Giỏ hàng"</span>
                    </button>
                </div>
            </div>
            <div id="CartContainer">
                @{Html.RenderAction("InFoCart", "Carts");}
            </div>
        </div>
    </div>
    <div id="PageContainer" class="is-moved-by-drawer">
        <header class="site-header">
            <div class="wrapper">
                <!-- /snippets/header.liquid -->
                <div class="header">

                    <div class="site-header__topbar medium-down--hide">


                        @{ Html.RenderAction("TopMenu", "TrangChu"); }
                        <!-- end account -->
                        <div class="large--right">
                            <a href="cart.html" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                                @{Html.RenderAction("Cart", "Carts");}
                            </a>
                        </div><!--  end cart -->
                        <div class="site-header__search large--right">
                            <!-- /snippets/search-bar.liquid -->


                            <form action="/tim-kiem.html" method="get" class="input-group search-bar" role="search">

                                <input type="search" id="txtKeyword" name="keyword" value="" placeholder="Nhập vào tìm kiếm" class="input-group-field" aria-label="Nhập vào tìm kiếm">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn icon-fallback-text">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <span class="fallback-text">Tìm kiếm</span>
                                    </button>
                                </span>
                            </form>

                        </div> <!-- end search -->

                    </div>
                    <div class="logo">

                        <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">


                            <a href=@Url.Action("Index", "TrangChu") itemprop="url" class="site-header__logo-link">
                                <img src="../hstatic.net/033/1000104033/1000147703/logo8f26.png?v=55" alt="basic" itemprop="logo">
                            </a>


                        </h1>

                    </div>
                    <nav class="nav-bar keep-this" role="navigation">
                        <!-- /snippets/menu.liquid -->
                        @{Html.RenderAction("MainMenu", "TrangChu");}
                    </nav>

                </div>
            </div>
        </header> <!-- end header -->
        @RenderBody()

        <!-- begin site-footer -->
        @{Html.RenderAction("Footer", "TrangChu");}
 
        <!-- //site-footer -->
    </div>
    <script src='/hstatic.net/033/1000104033/1000147703/fastclick.min8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/timber8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/owl.carousel.min8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/wow.min8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/handlebars.min8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/ajax-cart8f26.js?v=55' type='text/javascript'></script>
    <script src="/services/javascripts/currencies.js" type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/jquery.currencies.min8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/quickview8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/wish-list8f26.js?v=55' type='text/javascript'></script>
    <script src='/hstatic.net/033/1000104033/1000147703/collection8f26.js?v=55' type='text/javascript'></script>
    <script src="~/Areas/Client/js/plugins/jquery.validate.js"></script>
    <script src="~/Areas/Client/js/plugins/additional-methods.js"></script>
    <script src="~/Areas/Client/js/plugins/mustache.min.js"></script>
    <script src="~/Areas/Client/js/plugins/numeral.js"></script>
    <script src="~/Areas/Client/js/plugins/jquery.twbsPagination.min.js"></script>

    <script src="/Areas/Client/js/Controllers/baseController.js"></script>
    @RenderSection("jsFooter", required: false)
    <!--Start of Zopim Live Chat Script-->
</body>

<!-- Mirrored from basic.myharavan.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Sep 2016 06:08:43 GMT -->
</html>
